#extgallery table.outer {
    margin-top: 10px;
}

#extgallery .pageNav {
    text-align: right;
    margin-top: 5px;
}

#extgallery .catThumb {
    float: left;
    margin-right: 5px;
}

#extgallery #thumbTable td {
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

#extgallery #rateTable td {
    text-align: center;
}

#extgallery #photoNavLeft {
    width: 33%;
}

#extgallery #photoNavCenter {
    text-align: center;
}

#extgallery #photoNavRight {
    width: 33%;
    text-align: right;
}

#extgallery img.thumb {
    padding: 5px;
    border: 1px #778899 solid;
}

#extgallery img.thumb:hover {
    padding: 4px;
    border: 2px #3388CC solid;
}

#extgallery #photo {
    text-align: center;
}

#extgallery #photo img {
    margin-top: 10px;
    padding: 5px;
    border: 1px #778899 solid;
}

#extgallery #photo img:hover {
    padding: 4px;
    border: 2px #3388CC solid;
}

#extgallery .photoTitle {
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

#extgallery .photoDesc {
    text-align: center;
    padding: 5px;
}

#extgallery .photoExtra {
    text-align: center;
    padding: 5px;
}

#extgallery div.adminLink {
    text-align: center;
}

#extgallery .socialnetwork {
    width: 100%;
    height: 25px;
    margin-bottom: 40px;
}

#extgallery .socialnetwork ul li {
    list-style: none;
    float: left;
}

#extgallery .bookmarkme {
    width: 100%;
    height: 50px;
}

#extgallery .bookmarkmetitle {
    text-align: center;
}

#extgallery .bookmarkmeitems {
    text-align: center;
    margin: 5px;
}

#extgallery #rss {
    text-align: center;
    margin: 5px;
}

#extgallery #viewecard {
    border: 1px solid #000000;
    padding: 7px;
    margin: 0 auto 0 auto;
}

#extgallery #viewecardtd {
    vertical-align: top;
    padding-left: 7px;
}

#extgallery .txtleft {
    text-align: left;
}

#extgallery .txtright {
    text-align: right;
}

#extgallery .txtcenter {
    text-align: center;
}

#extgallery .comments {
    text-align: center;
    padding: 3px;
    margin: 3px;
}
.even {
    background-color: #f1fffd;
    padding: 5px;
}

.odd {
    background-color: #f8ffe4;
    padding: 5px;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f97777;
}
